  <ion-content>
    <ion-grid fixed class="grid_head">
      <ion-row>
        <ion-col size="12" size-lg="8" size-xl="8" class="ion-no-padding">
          <ion-item lines="none" class="hidden-lg-up">
            <ion-icon name="search-outline"></ion-icon>
            <p class="ion-padding-start">Search</p>
            <ion-item slot="end" lines="none">
              <ion-icon name="help-outline"></ion-icon>
              <span class="ion-padding-start">Ask a question</span>
            </ion-item>
          </ion-item>
          <ion-item-divider class="hidden-lg-up"></ion-item-divider>
      
          <ion-item lines="none">
            <ion-icon name="home-outline"></ion-icon>
              <ion-label class="ion-padding-start">
                <b>Home</b> / Badges
              </ion-label>
          </ion-item>
          <ion-item-divider></ion-item-divider>
      
          <ion-item lines="none">
            <ion-icon name="trash-outline"></ion-icon>
            <ion-label class="ion-padding-start"><p>Points System</p></ion-label>
          </ion-item>
          <ion-card-content>
              <p>Besides gaining reputation with your questions and answers, you receive badges for being especially helpful. Badges appears on your profile page, questions & answers.</p>
          </ion-card-content>
      
          <ion-grid class="points_card ion-no-padding">
            <ion-row>
              <ion-col size="12" size-lg="4">
                <ion-card>
                  <ion-card-content>
                    <ion-item lines="none" class="ion-no-padding">
                      <ion-icon name="trash-outline"></ion-icon>
                      <ion-label class="ion-padding-start"><span><b>20</b> Points</span></ion-label>
                    </ion-item>
                      <p>For signing up.</p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
      
              <ion-col size="12" size-lg="4">
                <ion-card>
                  <ion-card-content>
                    <ion-item lines="none" class="ion-no-padding">
                      <ion-icon name="trash-outline"></ion-icon>
                      <ion-label class="ion-padding-start"><span><b>20</b> Points</span></ion-label>
                    </ion-item>
                      <p>For referring a new user for paid membership.</p>
                    </ion-card-content>
                </ion-card>
              </ion-col>
      
              <ion-col size="12" size-lg="4">
                <ion-card>
                  <ion-card-content>
                    <ion-item lines="none" class="ion-no-padding">
                      <ion-icon name="trash-outline"></ion-icon>
                      <ion-label class="ion-padding-start"><span><b>10</b> Points</span></ion-label>
                    </ion-item>
                      <p>For referring a new user.</p>
                    </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
      
            <ion-row>
              <ion-col size="12" size-lg="4">
                <ion-card>
                  <ion-card-content>
                    <ion-item lines="none" class="ion-no-padding">
                      <ion-icon name="trash-outline"></ion-icon>
                      <ion-label class="ion-padding-start"><span><b>5</b> Points</span></ion-label>
                    </ion-item>
                    <p>When your answer has been chosen as the best answer.</p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
      
              <ion-col size="12" size-lg="4">
                <ion-card>
                  <ion-card-content>
                    <ion-item lines="none" class="ion-no-padding">
                      <ion-icon name="trash-outline"></ion-icon>
                      <ion-label class="ion-padding-start"><span><b>2</b> Points</span></ion-label>
                    </ion-item>
                    <p>For adding an answer.</p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
      
              <ion-col size="12" size-lg="4">
                <ion-card>
                  <ion-card-content>
                    <ion-item lines="none" class="ion-no-padding">
                      <ion-icon name="trash-outline"></ion-icon>
                      <ion-label class="ion-padding-start"><span><b>2</b> Points</span></ion-label>
                    </ion-item>
                    <p>For adding a new post.</p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
      
            <ion-row>
              <ion-col size="12" size-lg="4">
                <ion-card>
                  <ion-card-content>
                    <ion-item lines="none" class="ion-no-padding">
                      <ion-icon name="trash-outline"></ion-icon>
                      <ion-label class="ion-padding-start"><span><b>1</b> Point</span></ion-label>
                    </ion-item>
                    <p>For adding a new question.</p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
      
              <ion-col size="12" size-lg="4">
                <ion-card>
                  <ion-card-content>
                    <ion-item lines="none" class="ion-no-padding">
                      <ion-icon name="trash-outline"></ion-icon>
                      <ion-label class="ion-padding-start"><span><b>1</b> Point</span></ion-label>
                    </ion-item>
                    <p>Your question gets a vote.</p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
      
              <ion-col size="12" size-lg="4">
                <ion-card>
                  <ion-card-content>
                    <ion-item lines="none" class="ion-no-padding">
                      <ion-icon name="trash-outline"></ion-icon>
                      <ion-label class="ion-padding-start"><span><b>1</b> Point</span></ion-label>
                    </ion-item>
                    <p>Your answer gets a vote.</p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
      
            <ion-row>
              <ion-col size="12" size-lg="4">
                <ion-card>
                  <ion-card-content>
                    <ion-item lines="none" class="ion-no-padding">
                      <ion-icon name="trash-outline"></ion-icon>
                      <ion-label class="ion-padding-start"><span><b>1</b> Point</span></ion-label>
                    </ion-item>
                    <p>Each time when a user follows you.</p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
      
              <ion-col size="12" size-lg="4">
                <ion-card>
                  <ion-card-content>
                    <ion-item lines="none" class="ion-no-padding">
                      <ion-icon name="trash-outline"></ion-icon>
                      <ion-label class="ion-padding-start"><span><b>1</b> Point</span></ion-label>
                    </ion-item>
                    <p>For adding your social media links to your profile.</p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
      
          <ion-item-divider class="ion-padding-top"></ion-item-divider>
          
          <ion-item lines="none">
            <ion-icon name="trophy-outline"></ion-icon>
            <ion-label class="ion-padding-start"><p>Badges System</p></ion-label>
          </ion-item>
          <ion-card-content>
            <p>Besides gaining reputation with your questions and answers, you receive badges for being especially helpful. Badges appears on your profile page, questions & answers.</p>
          </ion-card-content>
      
          <ion-grid class="badges_card ion-no-padding">
            <ion-row>
              <ion-col size="12">
                <ion-card>
                  <ion-card-content>
                    <div class="beginner">Beginner</div>
                    <ion-item lines="none" class="ion-no-padding">
                      <ion-icon name="trash-outline"></ion-icon>
                      <ion-label class="ion-padding-start"><span><b>10</b> Points</span></ion-label>
                    </ion-item>
                    <ion-item-divider></ion-item-divider>
                    <p>You must have a total score of 50 in at least 10 non-community wiki answers to achieve this badge. Highest scoring answer that outscored an accepted answer with score of more than 10.</p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
      
            <ion-row>
              <ion-col size="12">
                <ion-card>
                  <ion-card-content>
                    <div class="teacher">Teacher</div>
                    <ion-item lines="none" class="ion-no-padding">
                      <ion-icon name="trash-outline"></ion-icon>
                      <ion-label class="ion-padding-start"><span><b>50</b> Points</span></ion-label>
                    </ion-item>
                    <ion-item-divider></ion-item-divider>
                    <p>You must have a total score of 100 in at least 50 non-community wiki answers to achieve this badge. Highest scoring answer that outscored an accepted answer with score of more than 50.</p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
      
            <ion-row>
              <ion-col size="12">
                <ion-card>
                  <ion-card-content>
                    <div class="senpai">Senpai</div>
                    <ion-item lines="none" class="ion-no-padding">
                      <ion-icon name="trash-outline"></ion-icon>
                      <ion-label class="ion-padding-start"><span><b>100</b> Points</span></ion-label>
                    </ion-item>
                    <ion-item-divider></ion-item-divider>
                    <p>You must have a total score of 150 in at least 100 non-community wiki answers to achieve this badge. Highest scoring answer that outscored an accepted answer with score of more than 100.</p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
      
            <ion-row>
              <ion-col size="12">
                <ion-card>
                  <ion-card-content>
                    <div class="explainer">Explainer</div>
                    <ion-item lines="none" class="ion-no-padding">
                      <ion-icon name="trash-outline"></ion-icon>
                      <ion-label class="ion-padding-start"><span><b>150</b> Points</span></ion-label>
                    </ion-item>
                    <ion-item-divider></ion-item-divider>
                    <p>You must have a total score of 200 in at least 150 non-community wiki answers to achieve this badge. Highest scoring answer that outscored an accepted answer with score of more than 150.</p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
      
            <ion-row>
              <ion-col size="12">
                <ion-card>
                  <ion-card-content>
                    <div class="professional">Professional</div>
                    <ion-item lines="none" class="ion-no-padding">
                      <ion-icon name="trash-outline"></ion-icon>
                      <ion-label class="ion-padding-start"><span><b>200</b> Points</span></ion-label>
                    </ion-item>
                    <ion-item-divider></ion-item-divider>
                    <p>You must have a total score of 250 in at least 200 non-community wiki answers to achieve this badge. Highest scoring answer that outscored an accepted answer with score of more than 200.</p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
      
            <ion-row>
              <ion-col size="12">
                <ion-card>
                  <ion-card-content>
                    <div class="enlightened">Enlightened</div>
                    <ion-item lines="none" class="ion-no-padding">
                      <ion-icon name="trash-outline"></ion-icon>
                      <ion-label class="ion-padding-start"><span><b>250</b> Points</span></ion-label>
                    </ion-item>
                    <ion-item-divider></ion-item-divider>
                    <p>You must have a total score of 250 in at least 250 non-community wiki answers to achieve this badge. Highest scoring answer that outscored an accepted answer with score of more than 250.</p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
      
        </ion-col>
  
        <ion-col size="12" size-lg="4" size-xl="4" class="ion-no-padding">
          <app-side-comp></app-side-comp>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-content>
