<div class="ans">
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <div *ngIf="!isLoading">
    <div *ngIf="listComments.length<1" class="ion-text-center">
      <ion-text>No Posts to display. Please refresh.</ion-text>
    </div>
    <div *ngFor="let listC of listComments; index as i">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-item lines="none">
                    <ion-avatar style="flex-shrink: 0;" class="ion-align-self-start">
                      <img [src]="listC?.userImage || '../../../assets/icon.png'">
                    </ion-avatar>
                    <ion-text class="ion-padding-start">
                      <span style="color: var(--ion-card-color, var(--ion-item-color, var(--ion-color-step-550, #737373)));">added an answer</span> {{ listC.comment }}
                      <ion-item lines="none" class="ion-no-padding" style="margin-bottom: 10px; font-size: 10px; color: var(--ion-card-color, var(--ion-item-color, var(--ion-color-step-550, #737373)));">
                        <span style="color: var(--ion-color-primary);">{{ listC.postDate | date: 'MMMM d, y, h:mm:ss a' }}</span>
                      </ion-item>
                    </ion-text>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</div>
