<ion-card class="hidden-sm-down ion-no-margin" *ngFor="let question of loadedQuestions; index as i">
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img [src]="question.userImage">
    </ion-avatar>
    <ion-text style="color: var(--ion-color-primary);">
      <b>{{ question.createdBy }}</b>
      <span class="ion-margin-start beginner" *ngIf="question.createdUserRepPoints>=10 && question.createdUserRepPoints<50">Beginner</span>
      <span class="ion-margin-start teacher" *ngIf="question.createdUserRepPoints>=50 && question.createdUserRepPoints<100">Teacher</span>
      <span class="ion-margin-start senpai" *ngIf="question.createdUserRepPoints>=100 && question.createdUserRepPoints<150">Senpai</span>
      <span class="ion-margin-start explainer" *ngIf="question.createdUserRepPoints>=150 && question.createdUserRepPoints<200">Explainer</span>
      <span class="ion-margin-start professional" *ngIf="question.createdUserRepPoints>=200 && question.createdUserRepPoints<250">Professional</span>
      <span class="ion-margin-start enlightened" *ngIf="question.createdUserRepPoints>=250">Enlightened</span>
      <span class="ion-margin-start" style="font-size: 10px; color: var(--ion-card-color, var(--ion-item-color, var(--ion-color-step-550, #737373)));">Asked: <span style="color: var(--ion-color-primary);">{{ question.postDate | date: 'longDate' }}</span></span>
    </ion-text>
  </ion-item>

  <ion-card-header class="ion-margin-start">
    <ion-card-title class="ion-margin-start">
      <a style="cursor: pointer;" (click)="qaPage(question.id)">{{ question.question }}</a>
    </ion-card-title>
  </ion-card-header>

  <ion-grid>
    <ion-row>
      <ion-col size="2" class="ion-text-center">
        <ion-icon style="cursor: pointer;" (click)="increaseCount(question.id, i)" name="caret-up-outline"></ion-icon>
        <p>
          <b *ngIf="!isLoading || (currentIndex!==i)">{{ question.upCount + question.downCount }}</b>
          <ion-spinner color="primary" *ngIf="isLoading && (currentIndex===i)"></ion-spinner>
        </p>
        <ion-icon style="cursor: pointer;" (click)="decreaseCount(question.id, i)" name="caret-down-outline"></ion-icon>
      </ion-col>
      <ion-col size="10" class="ion-no-padding">
        <ion-card-content>
          <ion-img *ngIf="question.imageData" style="width: 20vw; height: 20vh; min-width: 180px; max-width: 195px;" [src]="question.imageData"></ion-img>
          <ion-text>{{ question.details }}</ion-text>
        </ion-card-content>
        <ion-chip *ngFor="let tag of question.tags">
          <ion-label>{{ tag }}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="10">
        <ion-card>
          <ion-card-content style="display: flex;">
            <ion-chip (click)="qaPage(question.id)">
              <ion-label>{{ question.totalComments || 0 }} Answers</ion-label>
            </ion-chip>
            <ion-chip>
              <ion-icon name="eye-outline"></ion-icon>
              <ion-label>Views</ion-label>
            </ion-chip>
            <div style="flex: 1 1 auto;"></div>
            <ion-button (click)="qaPageAnswer(question.id)">Answer</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-card>

<ion-card class="hidden-sm-up ion-no-margin" *ngFor="let question of loadedQuestions; index as i">
  <ion-item lines="none" class="ion-margin-top">
    <ion-avatar slot="start">
      <img [src]="question.userImage">
    </ion-avatar>

    <ion-text class="ion-text-center">
      <ion-icon name="caret-up-outline" style="cursor: pointer;" (click)="increaseCount(question.id, i)"></ion-icon>
      <p>
        <b *ngIf="!isLoading || (currentIndex!==i)">{{ question.upCount + question.downCount }}</b>
        <ion-spinner color="primary" *ngIf="isLoading && (currentIndex===i)"></ion-spinner>
      </p>
      <ion-icon name="caret-down-outline" style="cursor: pointer;" (click)="decreaseCount(question.id, i)"></ion-icon>
    </ion-text>
    <ion-text style="color: var(--ion-color-primary);" class="ion-padding-start">
      <span><b>{{ question.createdBy }}</b></span>
      <span class="ion-margin-start beginner" *ngIf="question.createdUserRepPoints>=10 && question.createdUserRepPoints<50">Beginner</span>
      <span class="ion-margin-start teacher" *ngIf="question.createdUserRepPoints>=50 && question.createdUserRepPoints<100">Teacher</span>
      <span class="ion-margin-start senpai" *ngIf="question.createdUserRepPoints>=100 && question.createdUserRepPoints<150">Senpai</span>
      <span class="ion-margin-start explainer" *ngIf="question.createdUserRepPoints>=150 && question.createdUserRepPoints<200">Explainer</span>
      <span class="ion-margin-start professional" *ngIf="question.createdUserRepPoints>=200 && question.createdUserRepPoints<250">Professional</span>
      <span class="ion-margin-start enlightened" *ngIf="question.createdUserRepPoints>=250">Enlightened</span>
      <p style="font-size: 10px; color: var(--ion-card-color, var(--ion-item-color, var(--ion-color-step-550, #737373)));">Asked: <span style="color: var(--ion-color-primary);">{{ question.postDate | date: 'longDate' }}</span></p>
    </ion-text>
  </ion-item>

  <ion-card-header class="ion-no-padding">
    <ion-card-title class="ion-padding-start ion-padding-top">
      <a style="cursor: pointer;" (click)="qaPage(question.id)">{{ question.question }}</a>
    </ion-card-title>
  </ion-card-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-card-content>
          <ion-img *ngIf="question.imageData" style="width: 20vw; height: 20vh; min-width: 180px; max-width: 195px;" [src]="question.imageData"></ion-img>
          <ion-text>{{ question.details }}</ion-text>
        </ion-card-content>
        <ion-chip *ngFor="let tag of question.tags">
          <ion-label>{{ tag }}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-content class="ion-no-padding" style="display: flex;">
            <ion-chip (click)="qaPage(question.id)">
              <ion-icon name="chatbox-ellipses-outline"></ion-icon>
              <ion-label>{{ question.totalComments || 0 }} Answers</ion-label>
            </ion-chip>
            <ion-chip>
              <ion-icon name="eye-outline"></ion-icon>
              <ion-label>Views</ion-label>
            </ion-chip>
            <div style="flex: 1 1 auto;"></div>
            <ion-button (click)="qaPageAnswer(question.id)" style="--border-radius: 0px;">Answer</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
